/* Resets */
html, body, ul, h1 , h3, p { margin: 0; padding: 0; }

/* For debugging layout
border: 2px solid red;
*/
html {
	height: 100%;
}

body {
    text-align: center;
	background-color: black;
	height: 100%;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

.title {
	font-family: Georgia, Palatino, Garamond, Serif;
	color: white;
}

.title h1 {
    font-size: 8rem;
}

.title h3 {
    font-size: 2rem;
	/*font-style: italic;*/
	letter-spacing: 20px;
	padding-left: 20px;
}

.title a {
    text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/*.row {
    display: flex;
	align-items: center;
}*/

.menu {
    display: none;
	margin-top: 8px; /*Avoid overlap with title*/
}

.menu a {
    text-decoration: none;
	color: white;
	font-family: 'Open Sans', Helvetica, Verdana, Sans-serif;
	padding: 0 20px;
	margin: 0;
}

.menu a:hover {
    color: lightgrey;
}

/*img {
    padding: 10px;
}*/

.letter {
    margin: 10px;
    width: 240px;
	height: 155px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.letter h3 {
	font-size: 3.4rem;
	font-weight: 700;
	/*display: none;*/
}

figure a, figure a:visited, figure a:active {
    text-decoration: none;
	color: black;
	font-family: Georgia, Palatino, Garamond, Serif;
	
}

figure a:hover {
    text-decoration: none;
	font-style: italic;
	color: black;
}

/*For making names appear on hover
figure a:hover .letter h3 {
    display: initial;
}*/

/*** BACKGROUND IMAGE LINKS ***/
#tina {
    background: url('../img/tinaletter-thumb.jpg');
}

#samantha {
    background: url('../img/samantha-thumb.jpg');
}

#michele {
    background: url('../img/michele1-thumb.png');
}

#norma {
    background: url('../img/norma-thumb.jpg');
}

#fuad {
    background: url('../img/fuad-thumb.jpg');
}

#heskel {
    background: url('../img/heskel-thumb.jpg');
}

#suad {
    background: url('../img/suad-thumb.jpg');
}

#claire {
    background: url('../img/claire-thumb.jpg');
}

#ian {
    background: url('../img/ian-thumb.jpg');
}

#yvonne {
    background: url('../img/yvonne-thumb.jpg');
}

#daniel {
    background: url('../img/daniel-thumb.jpg');
}

#yvette {
    background: url('../img/yvette-thumb.jpg');
}

#samir {
    background: url('../img/samir-thumb.jpg');
}

#ken {
    background: url('../img/kenseulogy-thumb.jpg');
}